.about-us {
    background-color: #f8fafa;
    min-height: 600px;
    padding: 30px 30px 70px 30px;
    &__text {
        width: 100%;
    }
    &__title2 {
        margin-bottom: 10px;
    }
    &__wrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) );
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__slider {
        margin-bottom: 40px;
        justify-self: start;
        align-self: start;
        @include media(laptop, 992px) {
            justify-self: center;
            align-self: center;
        }
    }
    &__img {
       width: 80%;
       height: 100%;
        
    }
   
}