.solution {
    position: relative;
    background: url(../src/img/b-g_woman.png) no-repeat 50%/cover;
    background-size: cover;
    &__wrapper {
        padding: 80px 0;
    }
    &__title {
        color: $main-color;
        font-size: 30px;
    }
    &__menu {
        display: flex;
        justify-content: center;
        color: $main-color;
        border: 1px solid $main-color;
        width: 844px;
        text-align: center;
        margin: 24px auto;
        padding: 18px;
        font-size: 15px;
    }
    &__link {
        border-right: 1px solid $main-color;
        margin-right: 20px;
        padding-right: 20px;
        a {
            text-decoration: none;
            color: $main-color;
        }
        &:last-of-type {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
}