.footer {
    min-height: 100px;
    background-color: #696969;
    &__wrapper {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__social {
        height: 30px;
    }
    &__text {
        color: $main-color;
        margin-bottom: 10px;
    }
    &__phone {
        color: $main-color;
    }
    &__icons {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
}
