.introduce {
    min-height: 703px;
    background: url(../src/img/b-g_main.png) no-repeat;
    background-size: cover;
    &__wrapper {
        position: relative;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }
    &__menu {
        ul {
            display: flex;
        }
    }
    &__menu-item {
        margin-left: 20px;
        color: $main-color;
    }
    &__title {
        margin-top: 131px;
        line-height: 50px;
        font-size: 42px;
        color: $main-color;
        font-weight: 700;
    }
    &__descr {
        margin-top: 27px;
        color: $main-color;
        font-size: 24px;

    }
    &__btn {
        margin-top: 40px;
    }
    &__phone {
        position: absolute;
        top: 135px;
        right: 0;

    }
}