.upper-block {
    margin-top: 20px;
    margin-bottom: 20px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 200px);
        grid-template-rows:  50px;
        grid-auto-rows: 50px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .upper-block-item {
            display: flex;
            justify-content: center;
            align-items: center;
            .descr {
                max-width: 200px;
                margin-left: 12px;
            }
        }
        .ukraine {
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                left: -15%;
                display: inline-block;
                background-image: url('../src/icons/ukraine.png');
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
        .germany {
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                left: -15%;
                top: 8%;
                display: inline-block;
                background-image: url('../src/icons/german.png');
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
        .estonia {
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                left: -15%;
                top: 8%;
                display: inline-block;
                background-image: url('../src/icons/estonia.png');
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
        .greatBritain {
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                left: -15%;
                top: 8%;
                display: inline-block;
                background-image: url('../src/icons/britain.png');
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
        .luxembourg {
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                left: -15%;
                top: 8%;
                display: inline-block;
                background-image: url('../src/icons/luxemburg.png');
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
    }
}
