@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
  position: relative; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3 {
  margin: 0; }

p {
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.title {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center; }
  .title_fz14 {
    font-size: 14px;
    font-weight: 700; }

.btn {
  width: 241px;
  height: 60px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
  background-color: #00c2f0;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  padding-top: 15px;
  border-radius: 7px; }

.upper-block {
  margin-top: 20px;
  margin-bottom: 20px; }
  .upper-block__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    .upper-block__wrapper .upper-block-item {
      display: flex;
      justify-content: center;
      align-items: center; }
      .upper-block__wrapper .upper-block-item .descr {
        max-width: 200px;
        margin-left: 12px; }
    .upper-block__wrapper .ukraine {
      position: relative; }
      .upper-block__wrapper .ukraine:before {
        content: ' ';
        position: absolute;
        left: -15%;
        display: inline-block;
        background-image: url("../src/icons/ukraine.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px; }
    .upper-block__wrapper .germany {
      position: relative; }
      .upper-block__wrapper .germany:before {
        content: ' ';
        position: absolute;
        left: -15%;
        top: 8%;
        display: inline-block;
        background-image: url("../src/icons/german.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px; }
    .upper-block__wrapper .estonia {
      position: relative; }
      .upper-block__wrapper .estonia:before {
        content: ' ';
        position: absolute;
        left: -15%;
        top: 8%;
        display: inline-block;
        background-image: url("../src/icons/estonia.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px; }
    .upper-block__wrapper .greatBritain {
      position: relative; }
      .upper-block__wrapper .greatBritain:before {
        content: ' ';
        position: absolute;
        left: -15%;
        top: 8%;
        display: inline-block;
        background-image: url("../src/icons/britain.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px; }
    .upper-block__wrapper .luxembourg {
      position: relative; }
      .upper-block__wrapper .luxembourg:before {
        content: ' ';
        position: absolute;
        left: -15%;
        top: 8%;
        display: inline-block;
        background-image: url("../src/icons/luxemburg.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 50px; }

.introduce {
  min-height: 703px;
  background: url(../src/img/b-g_main.png) no-repeat;
  background-size: cover; }
  .introduce__wrapper {
    position: relative; }
  .introduce__header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
  .introduce__menu ul {
    display: flex; }
  .introduce__menu-item {
    margin-left: 20px;
    color: white; }
  .introduce__title {
    margin-top: 131px;
    line-height: 50px;
    font-size: 42px;
    color: white;
    font-weight: 700; }
  .introduce__descr {
    margin-top: 27px;
    color: white;
    font-size: 24px; }
  .introduce__btn {
    margin-top: 40px; }
  .introduce__phone {
    position: absolute;
    top: 135px;
    right: 0; }

.advantages {
  margin-top: 78px;
  margin-bottom: 79px; }
  .advantages__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .advantages__item {
    padding: 0 0 50px 0;
    position: relative;
    width: 31%;
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .advantages__img {
    display: block;
    margin: 0 auto; }
  .advantages__descr {
    text-align: center;
    width: 70%;
    margin: 0 auto; }
  .advantages__question {
    position: absolute;
    bottom: 0;
    right: 0; }
  .advantages__arrow {
    display: block;
    margin: 0 auto; }
  .advantages .first {
    margin-top: 49px; }
  .advantages__title {
    margin-top: 33px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-align: center; }
  .advantages .under-block {
    margin-top: 37px; }

.benefits {
  margin: 70px auto; }
  .benefits-complex__wrapper {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center; }
  .benefits-complex__item {
    position: relative;
    z-index: 1; }
  .benefits-complex__block {
    background-color: black;
    width: 100%;
    position: absolute;
    z-index: 7; }

.options {
  margin-top: 77px; }
  .options__wrapper-img {
    display: flex;
    height: 500px;
    justify-content: center; }
  .options__img {
    width: 100%; }

.solution {
  position: relative;
  background: url(../src/img/b-g_woman.png) no-repeat 50%/cover;
  background-size: cover; }
  .solution__wrapper {
    padding: 80px 0; }
  .solution__title {
    color: white;
    font-size: 30px; }
  .solution__menu {
    display: flex;
    justify-content: center;
    color: white;
    border: 1px solid white;
    width: 844px;
    text-align: center;
    margin: 24px auto;
    padding: 18px;
    font-size: 15px; }
  .solution__link {
    border-right: 1px solid white;
    margin-right: 20px;
    padding-right: 20px; }
    .solution__link a {
      text-decoration: none;
      color: white; }
    .solution__link:last-of-type {
      border-right: none;
      margin-right: 0;
      padding-right: 0; }
  .solution__img {
    display: block;
    margin: 0 auto; }

footer {
  min-height: 300px;
  background-color: black; }
  footer__elements {
    display: flex; }

.container {
  width: 1140px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
